#No Jar File
*.jar

#No Eclipse Setting
.classpath
.project
.settings

#No sensitive Source
/src/danor/matookit/test

#No Test Folder
/bin/

#No Resource Folder
/wrk.cn/dat/
/wrk.cn/log/
/wrk.cn/pak/
/wrk.cn/ptb/
/wrk.cn/res/adv
/wrk.cn/res/ban
/wrk.cn/res/bos
/wrk.cn/res/cmp
/wrk.cn/res/crd
/wrk.cn/res/gac
/wrk.cn/res/itm
/wrk.cn/res/pvl
/wrk.cn/res/res
/wrk.cn/res/sou
/wrk.sg/