#No Jar File
*.jar

#No Eclipse Setting
.classpath
.project
.settings

#No sensitive Source
/src/danor/matookit/test

#No Test Folder
/bin/

#No Resource Folder
/wrk/dat/
/wrk/log/
/wrk/pak/
/wrk/ptb/
/wrk/res/adv
/wrk/res/ban
/wrk/res/bos
/wrk/res/cmp
/wrk/res/crd
/wrk/res/gac
/wrk/res/itm
/wrk/res/pvl
/wrk/res/res
/wrk/res/sou