#No Jar File
*.jar

#Include Lib Folder
!/lib/

#No Eclipse Setting
.classpath
.project
.settings

#No sensitive Source
/src/danor/matookit/test

#No Bin Folder
/bin/

#No Work Folder
/wrk/all/dat/
/wrk/all/log/
/wrk/all/ptb/
/wrk/cns/
/wrk/krs/
/wrk/mys/
/wrk/sgs/
/wrk/tws/